<template name="aboutContact">
  <h2>About</h2>
  <p>Misha's Question of the day is a not-so-little side projected that I, Misha, started to learn how to make next-gen web apps.</p>
  <p>Along the way, I learned how to use the <a href="www.meteor.com">Meteor framework</a> as well as several very useful packages including <a href="https://github.com/aldeed/meteor-simple-schema">SimpleScema</a> , <a href="https://github.com/aldeed/meteor-collection2">Collection2</a>, <a href="https://github.com/aldeed/meteor-autoform">AutoForm</a>, and <a href="https://github.com/kadirahq/flow-router">FlowRouter</a>.</p>
  <p>I used <a href="www.d3js.org">D3.js</a> for the <em>My Profile</em> graphic.</p>
  <p>The <a href="https://github.com/MishaShapo/question-of-the-day">full source code is available on GitHub</a>. Feel free to take a look and see how the internals work. Maybe even leave a star if you like what you see. ;)</p>
  
  <h2>Contact</h2>
  <p>Email: <a href="mailto:misha.shapo98@gmail.com">misha.shapo98@gmail.com</a></p>
</template>