<template name="suggestAQuestion">
  <p>Suggest A Question</p>
  {{#if ready}}
    {{#autoForm collection='SuggestedQuestions' id='insertSuggestedQuestionForm' type='insert'}}
      <fieldset>
        <legend>Create A Question</legend>
        {{> afQuickField name='text'}}
        {{> afArrayField name='choices' template='choices'}}
        {{> afQuickField name='correctChoice' }}
        {{> afQuickField name='tag' options=tagOptions}}
      </fieldset>
      <button type="submit" class="btn btn-primary full-parent-width">Suggest!</button>
    {{/autoForm}}
  {{else}}
    {{> loading}}
  {{/if}}
</template>