nav .nav-wrapper .brand-logo {
  padding-left: 20px;
}

input[type="radio"][disabled] + label {
  opacity: 0.4;
  filter: opacity(0.4);
}

#orbit-visualization {
  height: 900px;
}

.full-parent-width
{
    width: 100%;
    padding: 5px;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;        
}

.correct-choice {
  background-color: greenyellow;
}

footer {
  margin-top: 20px;
  margin-bottom: 20px;
}

.tag-color-box {
  padding: 20px;
}

.question {
  background-color: white;
  padding: 10px;
}

