<template name="question">
  {{#if subReady}}
    {{#with question}}
      {{#if alreadyAnswered}}
        {{> answerResponse correct=correct}}
      {{/if}}
     <div class="tag-color-box" style="background-color: {{tagColor}}">
      <div class="question">
        <div class="question-content">
          <h1>{{text}}</h1>
          <p class="small ">Tag: {{tag}}</p>
          <p class="small">Author: {{author}}</p>
          <hr>
          <form id="response-form">
            {{#each choices}}
              <p class="answerChoice">
                <input type="radio" name="choice" id="{{index this}}" {{disableProp}} {{checkedProp}}>
                <label for="{{index this}}">{{this}}</label>
              </p>
            {{/each}}
            <button class="btn btn-primary" type="submit" form="response-form" {{disableProp}}>
              <span>Submit  </span>  
              <span class="glyphicon glyphicon-send"></span>
            </button>
          </form>
        </div>
      </div>
    </div>
    {{/with}}
 {{else}}
   {{> loading}}
 {{/if}}
</template>