<template name="header">
  <header role="navigation">
    <nav>
      <div class="nav-wrapper">
        <a href="{{pathFor 'question'}}" class="brand-logo">Misha's Question of the Day</a>
        <a href="#" data-activates="mobile-nav" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          
          <li><a href="{{pathFor 'myProfile'}}">My Profile</a></li>
          <li><a href="{{pathFor 'suggestAQuestion'}}">Suggest a Question</a></li>
          <li><a href="{{pathFor 'leaderboards'}}">Leaderboards</a></li>
          <li><a href="{{pathFor 'aboutContact'}}">About/Contact</a></li>
        </ul>
             
        <ul class="side-nav" id="mobile-nav">
          <li><a href="{{pathFor 'myProfile'}}">My Profile</a></li>
          <li><a href="{{pathFor 'suggestAQuestion'}}">Suggest a Question</a></li>
          <li><a href="{{pathFor 'leaderboards'}}">Leaderboards</a></li>
          <li><a href="{{pathFor 'aboutContact'}}">About/Contact</a></li>
        </ul>
        
        <ul class="right">
          {{> loginButtons}} 
        </ul>
        
      </div>
    </nav> 
  </header>
</template>